:root {
    font-family: Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;

    color-scheme: light dark;
    color: rgba(0, 0, 0, 0.87);

    /* 文本渲染优化 */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    /* 禁止在浏览器上选中文本内容 */
    -o-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

.background {
    background-image: url('@/assets/mc.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    
    /* 背景渐变动画 */
    /* background: linear-gradient(-45deg, #ee7752, #ce3e75, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s linear infinite;
    -moz-animation: Gradient 10s linear infinite;
    animation: Gradient 10s linear infinite; */
}

@keyframes Gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#app {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;

    margin: 0;
    padding: 0;

    display: flex; /* 使用Flexbox布局 */
    flex-direction: column; /* 主轴方向为垂直方向 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */

    overflow: auto;
}

.content-card {
    padding: 20px;
    margin: 20px auto 20px auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    transition: all 0.25s ease;
    width: 90%;
    max-width: 1280px;
    height: auto;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1.8rem;
    margin: 1rem auto 1rem auto;
    padding: 0;
    color: #333;
    text-align: center;
}

h2 {
    font-size: 1.4rem;
    margin: 2rem auto 1rem auto;
    padding: 0;
    color: #333;
    text-align: center;
}
